<a href="#" id="top" tabindex="-1" aria-hidden="true"><span class="visually-hidden">Top link text</span></a>
<div id="ole-common-form" class="ole-common-form view--in-progress step-prelim" *ngIf="viewObj">
    <div class="ole-form-header">
       <h1 tabindex="0" class="only-prelim" [innerHTML]="viewObj.title"></h1>
       <h2 class="visually-hidden">508 accessibility issue fix</h2>
       <h3 class="visually-hidden">508 accessibility issue fix</h3>
     </div>

    <div class="ole-form-container">
      <form [formGroup]="form">  
        <div id="ole-form-progress" class="form-progress" role="progressbar">
            <span class="progress-legend">Your progress: {{viewObj.percentCompleted}}%</span>

            <div class="form-progress-bar">
                <div class="form-current-progress" [style.width.%]="viewObj.percentCompleted"></div>
            </div>
            <span class="progress-label-0">0%</span>
            <span class="progress-label-100">100%</span>
        </div>
        <div id="ole-form-content" class="form-content">
            <ng-container *ngIf="router.url == '/steps/medicare-information'">
                <app-medicare-insurance-inf> </app-medicare-insurance-inf>
            </ng-container>
           <ng-container *ngIf="!(router.url == '/steps/medicare-information') || cardType">

                <div *ngFor="let question of viewObj.currentViewObject; first as isFirst" class="form-row">
                  <h3 *ngIf="question.title != null" class="sub-header" [innerHTML]="question.title"></h3>  
                  <fieldset [ngClass]="{'fieldset-required': question.required === true}">  
                    <legend [innerHTML]="question.ques"></legend>

                  </fieldset>
                <div *ngIf="question.desc != null" [innerHTML]="question.desc"></div>
                <div *ngIf="question.descwithscroll != null" class="scroll-content" [innerHTML]="question.descwithscroll"></div>
                    <div [formGroupName]="question.key">
                    <ng-container *ngFor="let field of question.questionField">
                         <span class="field" [ngClass]="{'field-required': field.required===true, 'invalid' : !form.get(field.path).valid && form.get(field.path).touched}">
                          <label [attr.for]="field.key" *ngIf="(!field.dynamic)&&(field.controlType != 'radiobutton') && (field.controlType != 'checkbox')  && (field.controlType != 'dropdown')">{{field.label}}</label>
                        <ng-container *ngIf="field.dynamic">
                               
                            <strong>{{field.label}}: </strong>{{field.value}}
                             <input [hidden]="true" [formControlName]="field.key"
                                    [id]="field.key" type="text" >
                 
                        </ng-container><!-- field.dynaminc ending -->
                        <ng-container *ngIf="!field.dynamic">
                        <ng-container *ngIf="field.mask == '*'; else isMask">
                            
                            <input  [formControlName]="field.key"  [hidden]="(router.url.toLowerCase()).includes('provider') && isFirst"
                                    [id]="field.key" type="text" [ngClass]="[field.xs, field.format]" [autocomplete]="field.autocomplete" [maxlength]="field.maxlength" >
                           <ng-container *ngIf="(router.url.toLowerCase()).includes('provider') && isFirst">  
                               <a href="/" target="_blank" rel="noopener noreferrer" class="cta-button secondary margin-small" role="button" tabindex="0">Look up your provider <span class="sr-only">Opens in a new tab</span></a>       
                               <p><strong>Note:</strong> The provider search tool will open a new window and won't cancel or interrupt your enrollment. Any information you've entered will still be here when you come back from the provider search tool.</p>
                            </ng-container>        
                        </ng-container> 
                        <ng-template #isMask>
                            <ng-container [ngSwitch]="field.controlType">

                            <input *ngSwitchCase="'textField'" [formControlName]="field.key" [mask]="field.mask" [maxlength]="field.maxlength" 
                                    [id]="field.key" type="text" [ngClass]="[field.xs, field.format]" [autocomplete]="field.autocomplete">
                            

                         <ng-container  *ngSwitchCase="'checkbox'" >   
                             <div *ngIf="field.noneapplies" class="form-row"></div>     
                            <input type="checkbox" class="custom-checkbox" [formControlName]="field.key" [attr.id]="field.key" checked=false (click)="noneChecked(field.path, field.noneapplies)">
                            <label [attr.for]="field.key" [innerHTML]="field.label"></label>
                        </ng-container>
                        <ng-container  *ngSwitchCase="'textArea'">
                                <textarea cols="30" rows="5" [formControlName]="field.key"></textarea>
                        </ng-container>

                        <ng-container *ngSwitchCase="'dropdown'">
                            <select [id]="field.key" [(ngModel)]="this.selectedValue" class="selectboxit selectboxit-btn" *ngSwitchCase="'dropdown'" [formControlName]="field.key">
                                    <option *ngFor="let opt of field.options" [value]="opt.key">{{opt.value}}</option>
    
                            </select>
                            <label [attr.for]="field.key" class="visually-hidden">508 accessibility issue fix</label>
                           <span  class="selectboxitArrowCss"></span>
                           <!--<span id="plan-languageSelectBoxItContainer" (click)="toggleUL();" class="selectboxit-container selectboxit-container">
                               <span id="plan-languageSelectBoxIt" [id]="field.key" *ngSwitchCase="'dropdown'" [formControlName]="field.key" class="selectboxit selectboxit-enabled selectboxit-btn" name="plan-language" tabindex="0" unselectable="on" role="button"><span class="selectboxit-option-icon-container"><i id="plan-languageSelectBoxItDefaultIcon" class="selectboxit-default-icon selectboxit-option-icon selectboxit-container" unselectable="on"></i></span><span id="plan-languageSelectBoxItText" class="selectboxit-text" unselectable="on" data-val="English" style="max-width: 108px;">{{this.selectedValue}}</span><span id="plan-languageSelectBoxItArrowContainer" class="selectboxit-arrow-container" unselectable="on"><i id="plan-languageSelectBoxItArrow" class="selectboxit-arrow selectboxit-default-arrow" unselectable="on"></i></span></span>
                               <ul id="plan-languageSelectBoxItOptions" class="selectboxit-optionsChnage selectboxit-list" *ngIf="togglevar" tabindex="0">
                                   <li data-id="0" data-disabled="false" class="selectboxit-option selectboxit-option-first selectboxit-selected">
                                       <a class="selectboxit-option-anchor" *ngFor="let opt of field.options">
                                           <span class="selectboxit-option-icon-container">{{opt.value}}
                                            </span></a>
                                    </li>
                                </ul>
                            </span> -->
                       </ng-container>

                                <ng-container *ngSwitchCase="'radiobutton'"> 
                                    <ng-container *ngFor="let opt of field.options">
                                        <span class="field"> 
                                                <ng-container *ngIf="field.warnmsg">
                                            <input type="radio" [formControlName]="field.key" [value]="opt" [attr.id]="(field.key) + opt" class="inputradio" (click)="cancelFlag(opt,field.warnrule)" >
                                            </ng-container>
                                            <ng-container *ngIf="!field.warnmsg"> 
                                                    <input type="radio" [formControlName]="field.key" [value]="opt" [attr.id]="(field.key) + opt" class="inputradio" >
                                            </ng-container>
                                            <label [attr.for]="(field.key) + opt" [innerHTML]="opt"></label>
                                        </span>
                                    </ng-container>
                                </ng-container>

                            </ng-container>
                        </ng-template>
                    </ng-container> 
                        <ng-container *ngIf="field.warnmsg && field.warnrule == form.get(field.path).value">
                                <div class="conditional-block conditional-block--alert show" [attr.id]="field.key" data-conditional-group="esrd" data-conditional-trigger="esrd-yes" data-action-trigger="auto-deny">
                                        <svg class="conditional-block-svg">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-alert-sign"></use>
                                        </svg>
                                        <span class="sr-only">Alert:</span>
                                        <span [innerHTML]="field.warnmsg"></span>
                                    </div>
                        </ng-container>   
                          <ng-container *ngIf="field.subQuestion && field.subQuestion.question && field.subQuestion.question.questionField && field.subQuesRule != (form.get(field.path).value).toString()">
                           <ng-container >{{form.get(field.path+"-sub") && form.get(field.path+"-sub").disable()}}</ng-container>
                            
                        </ng-container>
                        <ng-container *ngIf="field.subQuestion && field.subQuestion.question && field.subQuestion.question.questionField && field.subQuesRule == (form.get(field.path).value).toString()">
                           <div [formGroupName]="field.subQuesFormName" class="conditional-block show">
                               <ng-container >{{form.get(field.path+"-sub") && form.get(field.path+"-sub").enable()}}</ng-container>
                                <legend>{{field.subQuestion.question.ques}}</legend>
                            <ng-container *ngFor="let sfield of field.subQuestion.question.questionField">
                              <ng-container [ngSwitch]="sfield.controlType">
                                <span class="field" [ngClass]="{'field-required': sfield.required==true, 'invalid' : !form.get(field.path).valid && form.get(field.path).touched}">
                                    <label [attr.for]="sfield.key" *ngIf="(sfield.controlType != 'radiobutton') && (sfield.controlType != 'checkbox')" [ngClass]="{'nr': sfield.required!=true}">{{sfield.label}}</label>
                                     <ng-container *ngIf="sfield.mask == '*'">
                                        <input  [formControlName]="sfield.key" [id]="sfield.key" maxlength="5" type="text" [ngClass]="[sfield.xs, sfield.format]" [autocomplete]="sfield.autocomplete" [maxlength]="sfield.maxlength" >
                                    </ng-container> 
                                    
                                    <ng-container *ngIf="sfield.mask !== '*'">
                                     <input *ngSwitchCase="'textField'" [formControlName]="sfield.key" [mask]="sfield.mask" [maxlength]="sfield.maxlength" 
                                            [id]="sfield.key" type="text" [ngClass]="[sfield.xs, sfield.format]" [autocomplete]="sfield.autocomplete">
                                    </ng-container>       
                                    <ng-container  *ngSwitchCase="'checkbox'" >        
                                        <input type="checkbox" class="custom-checkbox" [attr.id]="sfield.key" [formControlName]="sfield.key" checked=false>
                                        <label [attr.for]="sfield.key">{{sfield.label}}</label>
                                    </ng-container>
                                    <ng-container  *ngSwitchCase="'textArea'">
                                            <textarea cols="30" rows="5" [formControlName]="sfield.key"></textarea>
                                    </ng-container>  
                                    <ng-container *ngSwitchCase="'dropdown'">
                                        <select [id]="sfield.key" [(ngModel)]="this.selectedValue" class="selectboxit selectboxit-btn" *ngSwitchCase="'dropdown'" [formControlName]="sfield.key">
                                         <option *ngFor="let opt of sfield.options" selected [value]="opt.key">{{opt.value}}</option>
                                        </select>
                                    <span  class="selectboxitArrowCss"></span>
                                    </ng-container>

                                    <ng-container *ngSwitchCase="'radiobutton'">
                                        <ng-container *ngFor="let opt of sfield.options">
                                            <span class="field">
                                                <input type="radio" [formControlName]="sfield.key" [value]="opt" [attr.id]="(sfield.key) + opt" class="inputradio">
                                                <label [attr.for]="sfield.key">{{opt}}</label>
                                            </span>
                                        </ng-container>
                                    </ng-container>

                                </span>   
                               </ng-container>  
                               <span *ngIf="sfield.help" class="format-helper">{{sfield.help}}</span>
                              <span class="field-error-msg" *ngIf="form.get(sfield.path).touched && form.get(sfield.path).errors && (form.get(sfield.path).errors['required'] == true || form.get(sfield.path).errors['invalidDateFormat'] == true || form.get(sfield.path).errors['invalidMedicare'] == true )">Please enter a valid {{sfield.label}}.</span>
                             </ng-container>   
                            </div>
                        </ng-container>  

                        <span *ngIf="field.help" class="format-helper">{{field.help}}</span>
                        <ng-container *ngIf="(field.key).toLowerCase().includes('email')">
                           <ng-container *ngIf="form.get(field.path).dirty && !form.get(field.path).errors && form.get(field.path).value !==''"> <span class="valid-icon valid-email-icon show">✓</span></ng-container>
                           <ng-container *ngIf="form.get(field.path).touched && form.get(field.path).errors && form.get(field.path).errors['invalidEmail'] == true"> <span class="invalid-icon invalid-email-icon show">✕</span></ng-container>
                            <div class="email-confirm margin-bottom-med show"><br>
                                <span>Please confirm your email address is correct so that we can get in touch with you.</span>
                                <span class="email-display" [ngClass]="{'valid': !form.get(field.path).errors, 'invalid' : !form.get(field.path).valid}">{{form.get(field.path).value}}</span>
                            </div>
                        </ng-container>    
                        <span class="field-error-msg" *ngIf="form.get(field.path).errors && form.get(field.path).errors['invalidStartDate'] == true">{{field.label}} Effective Date must be on or after 7/1/1966. </span>
                        <span class="field-error-msg" *ngIf="form.get(field.path).touched && form.get(field.path).errors && (form.get(field.path).errors['required'] == true || form.get(field.path).errors['invalidDateFormat'] == true || 
                            form.get(field.path).errors['invalidMedicare'] == true || form.get(field.path).errors['invalid_BD_CD'] == true || form.get(field.path).errors['invalidEmail'] == true || form.get(field.path).errors['invalidDate'] == true )">Please enter a valid {{field.label}}.</span>
                        <span class="field-error-msg" *ngIf="form.get(field.path).touched && form.get(field.path).errors && (form.get(field.path).errors['invalid_BD_TY'] == true )" [innerHTML]="viewObj.errorMessages.birthdate_tooyoung"></span>    
                            
                        
                        </span>    
                    </ng-container>
                </div>   
                </div>
                <p class="required-note">* Indicates required fields</p>
           </ng-container>                            
        </div>


        

        <div id="ole-form-controls" class="form-controls">
            <div>
                <ng-container *ngIf="cancelEnrollmentFlag">
                        <a href="#ole-cancel-confirm" class="cta-button primary force-cancel-button modal-link show" id="ole-force-cancel-button" role="button" tabindex="0" >Cancel enrollment</a>
                </ng-container>
                <ng-container *ngIf="!cancelEnrollmentFlag">
                        <button id="ole-form-next-button" class="cta-button next-button" tabindex="0" [disabled]="!form.valid" (click)="next()">Next</button>
                        <button id="ole-form-back-button" class="cta-button secondary back-button" tabindex="0" (click)="back()">Back</button>
                        <a id="ole-form-cancel-button" routerLink="cancel-enrollment" class="cancel-button modal-link" tabindex="0">Cancel enrollment</a>
                </ng-container>
            </div>
        </div>
      </form>
    </div>
</div>

<router-outlet></router-outlet>
