<div class="modal-overlay show" *ngIf="displayPopup">
    <div id="ole-cancel-confirm" class="popup-modal" [ngClass]="{'active': id=='cancel-enrollment'}"> 
      <div class="modal-title" [innerHTML]="modalPopupCompntdata.cancelPopupTitle"></div>
      <div class="uhc-modal-body">
        <div class="uhc-modal-content" [innerHTML]="modalPopupCompntdata.cancelPopupContent"></div>
      </div>
      <div class="modal-footer">
        <a  class="cta-button close-modal secondary" (click)="back()">{{modalPopupCompntdata.backBtn}}</a>
        <a class="cta-button" (click)="back()">{{modalPopupCompntdata.cancelBtn}}</a>
      </div>
    </div>
  
    <div id="view-learn-enrollment" class="popup-modal" [ngClass]="{'active': id=='learn-more'}">
      <div class="modal-title" [innerHTML]="modalPopupCompntdata.learnMoreAbtOETitle"></div>
      <div class="uhc-modal-body">
        <div class="uhc-modal-content" [innerHTML]="modalPopupCompntdata.modalPopUpContent"></div>
      </div>
      <div class="modal-footer">
        <a class="cta-button close-modal secondary" (click)="back()" >{{modalPopupCompntdata.returnToAppBtn}}</a>
      </div>
    </div>

    <div id="sample-linkrouter" class="popup-modal" [ngClass]="{'active': id=='leavingsite-popup'}">
        <div class="modal-title" [innerHTML]="modalPopupCompntdata.leavingsitepopupTitle">
           
        </div>
        <div class="uhc-modal-body">
            <div id="redirect_content">
                <div class="parsys contentPar">
                  <div class="parbase section borderlesscontentarea" [innerHTML]="modalPopupCompntdata.leavingsitepopupContent">
                 
                </div>
              </div>
        </div>
        <div class="modal-footer">
            <a href="javascript:void(0);" (click)="leavingSiteRedirectTo()" class="cta-button close-modal secondary" id="proceed">{{modalPopupCompntdata.proceedBtn}}</a>
          <a class="cta-button cta-button" id="leaveOleAlertBack"  (click)="back()">{{modalPopupCompntdata.cancelButton}}</a>
        </div>
      </div>
    </div>
    
  </div>
