<div id="ole-common-form" class="ole-common-form view--in-progress step-primary-provider" >
  <div class="ole-form-header">

    <h1 class="only-primary-provider">{{pcpComponentdata.pcpMainHeading}}</h1>

  </div>

  <div class="ole-form-container">
    <div id="ole-form-progress" class="form-progress">
    <span class="progress-legend">{{pcpComponentdata.yourProgressTxt}}: 70%</span>
      <div class="form-progress-bar">
        <div class="form-current-progress" style="width: 55.5556%;"></div>
      </div>
      <span class="progress-label-0">0%</span>
      <span class="progress-label-100">100%</span>
    </div>

    <div id="ole-form-content" class="form-content">
     <!-- <form>-->

        <div class="form-step is-primary-provider active" data-step-id="step-7">
          <fieldset>
            <legend>{{pcpComponentdata.headingPara1}}

              {{pcpComponentdata.headingPara2}}

            </legend>

            <div [innerHtml]="pcpComponentdata.importantContent"> </div>

            <!-- <p><strong>Note:</strong> Using the provider search tool won't cancel or interrupt your enrollment. Any information you've entered will still be here when you come back from the provider search tool. </p> -->

           <!-- <span class="field">
              <label for="provider-name-search">{{pcpComponentdata.providersNameText}}</label>
              <input type="text" id="provider-name-search" class="field-type-open" maxlength="50" minlength="1" value="">
           <span class="format-helper"><a href="#">Or search here for your provider</a></span>
                        				        </span>-->
            <a href="#" class="cta-button secondary margin-small" tabindex="0">{{pcpComponentdata.lookUpProviderBtn}}</a>
            <div [innerHtml]="pcpComponentdata.pcpNoteContent"> </div>
          </fieldset>

          <h3 class="sub-header"  >{{pcpComponentdata.providerContactInfoTxt}}</h3>
          <div innerHtml="{{pcpComponentdata.providerContactInfoContent}}"> </div>
          <fieldset>
            <legend class="sr-only">Doctor #1 info</legend>
            <span class="field">
                        				            <label for="doctor-1-name">{{pcpComponentdata.doctorFullNameTxt}}</label>
                        				            <input type="tel" id="doctor-1-name" class="field-type-open">
                        				        </span>
            <span class="field">
                        				            <label for="doctor-1-phone">{{pcpComponentdata.phoneNoTxt}}</label>
                        				            <input type="tel" id="doctor-1-phone" class="field-type-phone">
                        				            <span class="format-helper">{{pcpComponentdata.helptxt}}</span>
                        				        </span>
            <span class="field">
                        				            <label for="doctor-1-city">{{pcpComponentdata.cityTxt}}</label>
                        				            <input type="tel" id="doctor-1-city" class="field-type-open">
                        				        </span>
            <span class="field">
                        				            <label for="doctor-1-state">{{pcpComponentdata.stateTxt}}</label>
                        				            <input type="tel" id="doctor-1-state" class="field-type-open">
                        				        </span>
            <span class="field">
                        				            <label for="doctor-1-zip">{{pcpComponentdata.zipTxt}}</label>
                        				            <input type="tel" id="doctor-1-zip" class="field-type-zip">
                        				        </span>
          </fieldset>
          <fieldset>
            <legend class="sr-only">Doctor #2 info</legend>
            <span class="field">
                        				            <label for="doctor-2-name">{{pcpComponentdata.doctorFullNameTxt}}</label>
                        				            <input type="tel" id="doctor-2-name" class="field-type-open">
                        				        </span>
            <span class="field">
                        				            <label for="doctor-2-phone">{{pcpComponentdata.phoneNoTxt}}</label>
                        				            <input type="tel" id="doctor-2-phone" class="field-type-phone">
                        				            <span class="format-helper">{{pcpComponentdata.helptxt}}</span>
                        				        </span>
            <span class="field">
                        				            <label for="doctor-2-city">{{pcpComponentdata.cityTxt}}</label>
                        				            <input type="tel" id="doctor-2-city" class="field-type-open">
                        				        </span>
            <span class="field">
                        				            <label for="doctor-2-state">{{pcpComponentdata.stateTxt}}</label>
                        				            <input type="tel" id="doctor-2-state" class="field-type-open">
                        				        </span>
            <span class="field">
                        				            <label for="doctor-2-zip">{{pcpComponentdata.zipTxt}}</label>
                        				            <input type="tel" id="doctor-2-zip" class="field-type-zip">
                        				        </span>
          </fieldset>
          <fieldset>
            <legend>{{pcpComponentdata.HsptlInfoTxt}}</legend>
            <span class="field">
                        				            <label for="hospital-name">{{pcpComponentdata.HsptlName}}</label>
                        				            <input type="tel" id="hospital-name" class="field-type-open">
                        				        </span>
            <span class="field">
                        				            <label for="hospital-phone">{{pcpComponentdata.phoneNoTxt}}</label>
                        				            <input type="tel" id="hospital-phone" class="field-type-phone">
                        				            <span class="format-helper">{{pcpComponentdata.helptxt}}</span>
                        				        </span>
            <span class="field">
                        				            <label for="hospital-city">{{pcpComponentdata.cityTxt}}</label>
                        				            <input type="tel" id="hospital-city" class="field-type-open">
                        				        </span>
            <span class="field">
                        				            <label for="hospital-state">{{pcpComponentdata.stateTxt}}</label>
                        				            <input type="tel" id="hospital-state" class="field-type-open">
                        				        </span>
            <span class="field">
                        				            <label for="hospital-zip">{{pcpComponentdata.zipTxt}}</label>
                        				            <input type="tel" id="hospital-zip" class="field-type-zip">
                        				        </span>
          </fieldset>

        </div>
     <!-- </form>-->
    </div>

    <div id="ole-form-controls" class="form-controls">
      <div>
        <button class="cta-button next-button" tabindex="0">{{pcpComponentdata.nextBtn}}</button>
        <button class="cta-button secondary back-button" tabindex="0">{{pcpComponentdata.backBtn}}</button>

        <a routerLink="./cancel-enrollment" class="cancel-button modal-link" tabindex="0">{{pcpComponentdata.cancelEnrollmnt}}</a>
      </div>
    </div>
  </div>
</div>

<a href="#" rel="tooltip" class="inline" title="text" tabindex="0">
  xxx
</a>
<router-outlet></router-outlet>
