<!--<a routerLink="./leavingsite" href="http://www.aarp.org">Visit AARP.org</a>-->
<div id="ole-common-form" class="ole-common-form view--in-progress step-intro view--beginning" *ngIf="welcomeComponentdata">
  <div class="ole-form-header" >
    <h1 class="only-intro">{{welcomeComponentdata.mainheading}}</h1>
  </div>
  <div class="ole-form-container">


    <div id="ole-form-content" class="form-content">
      <!--<form [formGroup]="introForm">-->
        <div class="form-step no-value no-progress is-intro has-title active" data-step-id="step-1" >
          <div class="plan-callout">
            <div [innerHTML]="welcomeComponentdata.headingpara"></div>
          </div>
          <div class="segment">
            <span [innerHTML]="welcomeComponentdata.chosentoenroll"></span>
            <h2 class="h3class">{{configObj.OLEYear}} {{configObj.OLEPlanName}}</h2>
            <ul>
              <li><strong>ZIP: </strong>{{configObj.OLEZip}} ({{configObj.OLECountyName}})<!--<a href="#ole-edit-zip" class="inline-edit-link modal-link">Edit</a>--></li>
              <li><strong>Premium: </strong>{{configObj.OLEPremium | currency}} {{welcomeComponentdata.premiumMnthTxt}}<!--<a href="#ole-edit-premium" class="inline-edit-link modal-link">Edit</a>--></li>
            </ul>
            <div class="zip_content" [innerHTML]="welcomeComponentdata.zipcontent"></div>
          </div>
          <div class="segment">
            <h3 class="sub-header" [innerHTML]="welcomeComponentdata.aboutole"></h3>
            <p><strong>{{welcomeComponentdata.whatneedtoenroll}}</strong></p>
            <ul  [innerHTML]="welcomeComponentdata.needtoenrolllist"></ul>
            <p><a routerLink="./learn-more" id="learn-more" class="cta-button secondary modal-link" tabindex="0" >{{welcomeComponentdata.learnmorebtn}}</a></p>
          </div>
          <div class="segment">
            <h3 class="sub-header" [innerHTML]="welcomeComponentdata.enrolldisclaimer"></h3>
            <div class="scroll-content" [innerHTML]="welcomeComponentdata.enrolldisclaimerscrolltext"></div>
          <form #f="ngForm">
            <fieldset>
              <legend class="visually-hidden"> Next page checkbox section</legend>
              <span class="field">
                  <input type="checkbox" [(ngModel)]="welcomeAgreeFlag" class="custom-checkbox" required
                    name="enrollment-disclaimer-accept" value="Agree" id="enrollment-disclaimer-accept-yes" (click)="submit(f)">
                  <label for="enrollment-disclaimer-accept-yes">{{welcomeComponentdata.agreetxt}}</label>
                  <span for="enrollment-disclaimer-accept-yes" class="field-error-msg" role="alert">Please click the checkbox above to agree.</span>
              </span>
          </fieldset>
          </form>
          </div>
        </div>

      <!--</form>-->
    </div>
    <div id="ole-form-controls" class="form-controls">
      <div>
        <button routerLink="/steps/medicare-information" id="enrollment-next-button" class="cta-button next-button" [disabled]="!f.valid"
           tabindex="0" (click)=welcomeNextBtn()>{{welcomeComponentdata.nxtbtn}}</button>
        <a routerLink="./cancel-enrollment" class="cancel-button modal-link" id="cancel-enrollment" tabindex="0">{{welcomeComponentdata.cancelbtn}}</a>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
<!--<app-ole-modal-popup ></app-ole-modal-popup>-->
